<table>
  <tr>
    <!-- if you tried to bind attribute colSpan like property binding like this you will get an error -->
    <td [colSpan]="colSpanValue">
      abc
      <!-- I don't know why this is not making error, but with the text attribute it makes error maybe because they fixed it now.
    so the rest of the explanation will be on the text attribute -->
      <td [attr.colSpan]="colSpanValue">
        def
      </td>
  </tr>
</table>
<!-- This makes error -->
<!-- <h1 [text]="title"></h1> -->
<h1 [attr.text]="title"></h1>
<!-- by this you are telling angular that you are targeting the text attribute in the html element h1, there is different between dom and html, 
dom is a model of objects that represents the structure of a document, it's a tree of elements in memoery, 
but html is a markup language that we use to represent dom in text
so when the browser parses html document it creats a tree of objects in memory that we refere to as the dom
we can also create this tree of objects programatically using vanilla java script, so we don't necesserly need html, but html is far simple 
and here is a key thing you need to know, most of the attributes of html elements have a one to one mapping properties of dom objects, 
there are however a few exceptions for example we have html attributes that don't have a representation in the dom 'the colspan, text' are 
examples of that so when we parse that html markup and create an actual dom object of this td, that dom object doesn't have a property 
called 'colspan' and that's why you get error 'can't bind colspan since it isn't a known property of td'    

when you use property binding remember that you are binding to a dom object not html element, but in 99% of the cases this html attributes 
and the dom have one to one mapping -->
<!-- <input placeholder="Enter Some Text Here" /> <br> -->

<input value="{{ inputText }}" (keyup.enter)="onKeyUp()"/>
<!-- this is also the same, because as we said before they are exactly the same -->
<input [value]="inputText" (keyup.enter)="onKeyUp()"/>
<br>

<button (click)="OnClick()">Click Here</button>