<h2>Without Pipes</h2>


<!-- we use pipes to format data
built in pipes (uppercase, lowercase, decimal, currency, percent) -->

{{ course.title }}
<br> {{ course.rating }}
<br> {{ course.students }}
<br> {{ course.price }}
<br> {{ course.releaseDate }}
<br> ----------------------------------------------------------
<br> {{ course.title | uppercase }}
<!-- you can make multiple pipes, in this case it will be lowercase -->
{{ course.title | uppercase | lowercase }}
<!-- seperate each 3 digits using comma -->
<br> {{ course.students | number }}
<br> {{ course.rating | number:"1.2-2" }} <!-- This is how you set parameters -->
<br> {{ course.price | currency}}
<br> {{ course.releaseDate | date }}
<br>

<!-- order by and filter are no longer exists as pipes in angular2, they were exist in angular js 
     they removed them because they are expensive operations -->

     <!-- to create a custom pipe
     1. create folder pipes and summary.pipe.ts file in it => go to that file
     2. register the pipe in app.module in the declarations
     
     -->

     {{ testCustomPipe | summary: 10 }}
