<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<button (click)="onClick()">On Click</button>
<button (click)="onClickWithEvent($event)">On Click With Event</button>

<!-- if you want to get access to the event object -->

<!-- please see the rest of the 'event handling video' for more information about event bubling
     and $event.stopPropagation() -->

<!-- this is called event filter -->
<br>
<input (keyup)="onKeyUp($event)" />
<br>
<!-- this method will be called only when we press enter -->
<input (keyup.enter)="onKeyUpWithEventFilter()" />

<input (keyup.enter)="onKeyUpAndGetText($event)" />
<!-- in angular there is another way to do that, this is called template variables 
          this variable refrences this input field -->
<input #MyInputName (keyup.enter)="onKeyUpAndGetTextWithTemplateVariables(MyInputName.value)" />
<h2>Two Way Binding</h2>
<!-- two way binding -->
<!-- 1. you can write multiple statements --><br>

<!-- this will change only when you click enter -->
<input [value]="textValue" (keyup.enter)="textValue = $event.target.value; twoWayBinding1()" />
<!-- 2. the two way binding syntax (banana in a box)  -->
<input [(ngModel)]="textValue" (keyup.enter)="twoWayBinding1()" />
<!-- instead of value we bind ngModel it's a directive and it's used to implement two way binding  
     this is easier and shorter-->
<!-- an error will happen, "can't bind to ngModel" since it's not a known property of input 
    because ngModel is definded in another module called forms, and you have to import it 
    go to app.module and add the forms module into the imports -->