<style>
  .class1 {
    background-color: aqua;
  }

  .class2 {
    background-color: lightgreen;
  }
</style>

<!-- property binding with class -->
<button 
[class.class1]="isClass1" 
[class.class2]="!isClass1"
>Click Here</button>

<!-- using ngClass -->
<button 
[ngClass]="{
  'class1': isClass1,
  'class2': !isClass1
}"
>Click Here</button>

<!-- with this approach we don't have to repeat the class property binding twice -->

<!--------------------ng stle------------------>
<button 
  [style.backgroundColor]="canSave ? 'blue' : 'gray'"
  [style.color]="canSave ? 'white' : 'black'"
  [style.fontWeight]="canSave ? 'bold' : 'normal'"
>
save
</button>

<!-- with ng style -->
<button 
[ngStyle]="{
  'backgroundColor': canSave ? 'blue' : 'gray',
  'color': canSave ? 'white' : 'black',
  'fontWeight':canSave ? 'bold' : 'normal'
}"
  
  
>
save
</button>

<!-- please see the video for custom directives -->