
<p>
  courses works!
</p>




<!-- <router-outlet></router-outlet> -->

<!-- in angular don't use href, because all the resources in your app are redownloaed, and 
all the bundles in your app, and this is very costly, because you want only the content of the 
new page to be downloaded -->
<!-- the single page applications, essentially a single page is downloaded from a server, and as the 
user navigates from one page to another, only the content of the target page is downloaded -->


<button (click)="btnNavigateClick()">Navigate</button>
<br>